
<% include ../header%>
	<div class="brevemente">...Brevemente...

		<br>
		<i>"Suae quisque fortuna faber est. (Frank Miller)"</i>
		<br>
		O homem é o arquitecto de seu proprio destino.
	</div>
	
<% include ../footer %>
