<% include header%>
	<div class="divCommunity">
		<p class="pTextCommunity">
				A <u>Comunidade de Programadores disponibiliza</u> 
				Perfil de programodores cujo o objectivo é 
				divulgar habilidades e capacidades para futuras
				 oportunidades em programação 
				 <strong>( “ Vender o Peixe ”)</strong>.
		</p>
		<br>
			<h2>A Team</h2>
			<div class="div-team">
				<img class="img-team"  src="/images/team1.jpeg">
				<span>Guerzeneldo Marcelino</span>
			</div>
			<div class="div-team">
				<img class="img-team" src="/images/team1.jpeg">
				<span>Guerzeneldo Marcelino</span>
			</div>
			
	</div>
<% include footer %>

