<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<title>cpMoz - Comunidade de Programadores</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/util.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/error.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/modal.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/forum.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/programmer.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/about.css" />

		<!--bootstrap-->
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	
	</head>
<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-blue" style="background-color: darkslategray">
        <a class="navbar-brand" href="/home">CPMOZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/foruns">Forúns <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/community">Programadores</a>
            </li>
            
            
			<% if (session) { %>
				<li class="nav-item">
					<a class="nav-link" href="/logout" tabindex="-1" aria-disabled="false">Sair</a>
				  </li>
			<% } else { %>
				<li class="nav-item">
					<a class="nav-link" href="/login" tabindex="-1" aria-disabled="false">Entrar</a>
				  </li>
			<% } %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
          </form>
        </div>
      </nav>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.min.js" ></script>
	
	<script>
		var button = document.getElementById("button");
		var check = true;
		button.addEventListener("click", function(){
			if(check){
				var div = document.getElementById("divMenuResponsive");
				div.setAttribute('class', 'responsive-menu');
				document.getElementById('body').style.overflow = "hidden";
				check = false;
			}else{
				var div = document.getElementById("divMenuResponsive");
				div.setAttribute('class', 'div-li-responsive');
				document.getElementById('body').style.overflow = "scroll";
				check = true;
			}
			
		});
</script>
