<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<title>cpMoz - Comunidade de Programadores</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/util.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/error.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/modal.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/forum.css" />
		
	</head>
<body id="body">	
	<nav class="nav-menu">
		<ul class="ul-menu">
			<li class="li-title">
				<a  href="/home"> CPMOZ </a>
			</li>
			<div id="divMenuResponsive" class="div-li-responsive">
				<div class="subDivMenuResponsive">
					<li id="forum" class="li-menu">
						<a class="link-menu" href="/foruns"> Forúns </a>
					</li>
					<li id="programmer" class="li-menu">
						<a class="link-menu" href="/community"> Programadores </a>
					</li>
					<% if (session) { %>
						<li id="login" class="li-menu">
							<a class="link-menu" href="/logout"> Sair </a>
						</li>
					<% } else { %>
						<li id="login" class="li-menu">
								<a class="link-menu" href="/login"> Entrar </a>
							</li>
					<% } %>
					<li id="contact" class="li-menu">
						<a class="link-menu" href="/contact"> Contacte-nos </a>
					</li>
					<li id="about" class="li-menu">
						<a class="link-menu" href="/about"> Sobre </a>
					</li>
				</div>
			</div>
				<li class="li-hidden">
					<a id="button" ><img class="button" src="/images/menu2.png"></a>
				</li>
			
		</ul>
		
	</nav>
	
	<script>
		var button = document.getElementById("button");
		var check = true;
		button.addEventListener("click", function(){
			if(check){
				var div = document.getElementById("divMenuResponsive");
				div.setAttribute('class', 'responsive-menu');
				document.getElementById('body').style.overflow = "hidden";
				check = false;
			}else{
				var div = document.getElementById("divMenuResponsive");
				div.setAttribute('class', 'div-li-responsive');
				document.getElementById('body').style.overflow = "scroll";
				check = true;
			}
			
		});
</script>
