<% include header %>
    <div class="header-error">
        <header >
            <h1>cpMOZ</h1>
            <h4 class="h4-error">Infelizmente essa página não existe :(</h4>
        </header>
        <hr>
        <p>Vamos voltar <a href="/">home page?</a> :)</p>
    </div>
<% include footer %>