<% include ../header %>
<div class="limiter">
	
	<div class="container-login100">
        <div class="wrap-login100">
        <div class="login100-form-title">
					<span class="login100-form-title-1">
						cpMOZ
					</span>
					<span>Comunidade de Programadores de Mocambique</spam>
         </div>
		<form action="/travel" method="post" class="login100-form">
		
			<div class="wrap-input100 m-b-26">
         	<span class="label-input100">Passagem</span>
            <input id="email" class="input100" type="text" name="nome" placeholder="Passagem">
            <span class="focus-input100"></span>
         </div>
         
          <div class="flex-sb-m w-full p-b-30">
          	<div class="contact100-form-checkbox">
            	<a href="/" class="txt1">Cancelar</a>
            </div>

            <div>
            	<a id="recovery_email" href="#" class="txt1"> Esquece passagem?</a>
                        <span> | </span>
               <a role="button" href="#" class="txt1 email"> Criar conta </a>
            </div>
          </div>

          <div class="container-login100-form-btn">
          	<input type="submit" id="button_1" class="login-button" value="Confirmar">
          </div>
         
		</form>
	</div>	
	</div>			
</div>	

<% include ../footer%>
