<% include ../header %>
	
	<div class="window-login">
      <div class="login-form-content">
         <div class="title-login">
               <span class="span-login span-title">
                  cpMOZ - Autenticar
               </span>
               <span class="span-login">Comunidade de Programadores de Mocambique</spam>
         </div>
         <form action="/autentice" method="post" class="form-login">
         
            <div class="div-input-login">
               <span class="label-input100">Email</span>
               <input id="email" class="input-login" type="email" name="email" placeholder="Enter Email">
               
            </div>
            <div class="div-input-login">
               <span class="label-input100">Password</span>
               <input id="password" class="input-login" type="password" name="password" placeholder="Enter Password">
               
            </div>
            <br>
            <div class="flex-sb-m w-full p-b-30">
               <div class="contact100-form-checkbox">
                  <a href="/" class="txt1">Cancelar</a>
               </div>

               <div>
                  
                  <a role="button" href="/registry" class="txt1 email"> Criar conta </a>
               </div>
            </div>

            <div class="container-login100-form-btn">
               <input type="submit" id="button_1" class="login-button" value="Confirmar">
            </div>
            
         </form>
      </div>	
	</div>	

<% include ../footer%>
