@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ecoicons';
	/*src: url("/fonts/codropsicons/codropsicons.eot");
	src: url("/fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("/fonts/codropsicons/codropsicons.woff") format("woff"), url("/fonts/codropsicons/codropsicons.ttf") format("truetype"), url("/fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
	*/
	src: url("/fonts/ecoicons/ecoicons.eot");
	src: url("/fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("/fonts/ecoicons/ecoicons.woff") format("woff"), url("/fonts/ecoicons/ecoicons.ttf") format("truetype"), url("/fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

.form-forum-search::after{
	font-family: 'ecoicons';
	content: "/e005";
}
body{
	margin: 0;
	background: #ffffff;
}
.nav-menu{
	
	background-color: darkslategray;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	top: 0;
}
.ul-menu{
	text-align: center;
	margin: 0;
	padding: 0;
	color: #5f6f81;
	list-style: none;
	text-transform: none;
	font-weight: 320;
	font-family: 'Lato', Arial, sans-serif;
	line-height: 4.2em;
}
.ul-menu .li-menu{
	display: inline;
	padding: 20px;
	
}
.li-title{
	display: inline;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
}
.li-title a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.link-menu{
	color: white;
	cursor: pointer;
}
.content{
	margin: 0 auto;
	width: 95%;
	text-align: center;
}

.text-span{
	font-weight: 100;
	color: darkslategray;
}
.img-home{
	height: 350px;
}
.footer{
	margin: 0 auto;
	width: 100%;
	float: left;
	padding: 2%;
	display: none;
}
.img-footer{
	width: 20%;
}
.p-footer{
	float: right;
	word-break: keep-all;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: left;
	text-align: justify;
}


.li-hidden{
	display: none;
}
.div-li-responsive{
	display: inline;
}
.subDivMenuResponsive{
	display: inline;
}
.ul1{
	float: left;
}
.ul2{
	float: right;
}
.ul{
	text-justify: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	
}
.ul li{
	list-style-type: square;
	padding: 8px;
}
.uls{
	margin: 0 auto;
	width: 70%;
	align-content: flex-start;
	justify-content: center;
}

/* Design Responsivo */

@media (max-width: 800px) {
	.ul1{
		float: none;
	}
	.ul2{
		float: none;
	}
	.ul{
		text-justify: auto;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 20px;
		display: block;
		
	}
	.ul li{
		list-style-type: square;
		padding: 8px;
	}
	.uls{
		margin: 0 auto;
		width: 70%;
		align-content: flex-start;
		justify-content: center;
	}
	#forum::before{
		font-family: 'ecoicons';
		content: "\e003"
	}
	#about::before{
		font-family: 'ecoicons';
		content: "\e000"
	}
	#programmer::before{
		font-family: 'ecoicons';
		content: "\e001"
	}
	#login::before{
		font-family: 'ecoicons';
		content: "\e008"
	}
	#contact::before{
		font-family: 'ecoicons';
		content: "\e004"
	}
	.nav-menu{
	
		background-color: darkslategray;
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: 80px;
		top: 0;
	}
	.ul-menu .li-menu{
		display: none;
	}
	.li-title{
		position: absolute;
		left: 4%;
		font-size: 18px;
		font-weight: 600;	
	}
	.ul-menu .li-hidden{
		display: inline;
		position: absolute;
		right: 5%;
		top: 15%;
	}
	
	.button{
		color: #000;
		height: 60px;
		width: 100px;
		cursor: pointer;
		background-image: url('/images/menu.png');
		background-repeat: no-repeat;  
	}
	.img-home{
		width: 100%;
		height: 280px;
	}
	.div-li-responsive{
		display: none;
	}
	.responsive-menu{
		display: inline; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 10.4%;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		
	}
	
	.subDivMenuResponsive{
		display: inline; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 10.4%;
		width: 80%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(255, 255, 255); /* Black w/ opacity */
	}
	.subDivMenuResponsive .li-menu{
		display: inline;
		padding: 0;
		margin-left: 5%;
		text-align: left;
		line-height: 2em;
	}
	.link-menu{
		color: darkslategray;
	}
}
@media (max-width: 746px){

	.subDivMenuResponsive .li-menu{
		display: block;
		padding: 0;
		margin-left: 5%;
		text-align: left;
		line-height: 2em;
	}
}
@media (max-width: 640px){
	.ul-menu .li-hidden{
		display: inline;
		position: absolute;
		right: 0%;
		top: 15%;
	}	
	.button{
		color: #000;
		height: 60px;
		width: 80px;
		cursor: pointer;
		background-image: url('/images/menu.png');
		background-repeat: no-repeat;  
	}
	.uls{
		margin: 0 auto;
		width: 100%;
		align-content: flex-start;
		justify-content: center;
	}
}
