@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ecoicons';
	src: url("../fonts/ecoicons/ecoicons.eot");
	src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

.form-forum-search::after{
	content: "\e005"
}
body{
	margin: 0;
	background: #ffffff;
}
.nav-menu{
	
	background-color: darkslategray;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	top: 0;
}
.ul-menu{
	text-align: center;
	margin: 0;
	padding: 0;
	color: #5f6f81;
	list-style: none;
	text-transform: none;
	font-weight: 320;
	font-family: 'Lato', Arial, sans-serif;
	line-height: 70px;
}
.ul-menu li{
	display: inline;
	padding: 20px;
	
}
.link-menu{
	color: white;
	cursor: pointer;
}
.content{
	margin: 0 auto;
	margin-top: 15%;
	width: 890px;
	text-align: center;
}
.link-title{
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
}
.text-span{
	font-weight: 100;
	color: darkslategray;
}
