<% include ../header%>	
	
	<div class="content">
		<h1>CPMOZ - Comunidade de Programadores de Mozambique</h1>
		<ul>
			<li>
				<span class="text-span"> Interligando Programadores </span>
			</li>
			<li>
				<span class="text-span"> Comunicando com Programadores </span>
			</li>
			<li>
				<span class="text-span"> Compartilhando com Programadores </span>
			</li>
		</ul>
	</div>
<% include ../footer %>
