<% include ../header%>	
	
	<div class="content">
		<img src="/images/cpmoz2.png" class="img-home">
		<p class="pTextCommunity" style="color: red; text-align: center;">
			Entre em contacto com o email "<u>cpmbique@gmail.com</u>", criticas, <u>apoio</u>, sugestoes, <i>elogios</i> e demais assuntos.. Todos são bem vindos! 
		</p>
	</div>
	<hr>
	<p class="pTextCommunity">
		A <u>Comunidade de Programadores</u> é um Forum de debates na area de 
			tecnologia em Moçambique em particular na programação.  Futuramente disponibilizara
		Perfil de programodores com o objectivo de divulgação para futuras oportunidades.
	</p>
	<p class="pTextCommunity">
			 
			 <i><strong>“ Vender o Peixe ”</strong>.: Acreditamos que com a iniciativa, podemos melhorar e criar mais oportunidades de emprego, empresas, startup...
				em tecnologias, programação e entre outras areas deste submundo. Uma vez que a tecnologia, em Moçambique, em termos de mercado é pobre, havendo necessidade de criar este Forum.
			 </i>
	</p>
	<hr>
	<div class="uls">
		<div class="ul1">
			<ul class="ul">
				<li>
					<span class="text-span"> Interligando Programadores </span>
				</li>
				<li>
					<span class="text-span"> Comunicando com Programadores </span>
				</li>
				<li>
					<span class="text-span"> Compartilhando com Programadores </span>
				</li>
			</ul>
		</div>

		<div class="ul2">
			<ul class="ul">
				<li>
					<span class="text-span"> Sem Fins Lucrativos </span>
				</li>
				<li>
					<span class="text-span"> Disponibilizar Perfis & Skills </span>
				</li>
				<li>
					<span class="text-span"> Valorizando Os Programadores </span>
				</li>
			</ul>
		</div>
	</div>
	<footer class="footer">
			<hr>
			<img class="img-footer" src="images/team1.jpg">
			<div class="p-footer">
				<h4>Guerzeneldo Marcelino Fernando</h4><br>
			   <i> " Primeiro trabalhar, depois diversão... (Desenho animados: O queijo da vaca)" </i>
			   <br>
			   <p> Sou <i>Web Developer</i>, minha experiência encontra-se nesta pequena arvore:</p>
			   <ul>
				   <li>
					   <strong><u>Nodejs</u></strong>: A linguagem que desenvolve esta aplicação.
				   </li>
				   <li>
					<strong><u>MongoDB & Redis</u></strong>: Base de dados NOSQL aplicadas nesta aplicação.  
				   </li>
				   <li>
					<strong><u>Python</u></strong>: aplicação pode ser encontrada em: <a href="http://museuonline.herokuapp.com">Museu Online</a>
				   </li>
				   <li>
					<strong><u>Java</u></strong>: No comment...
				   </li>
				   <li>
					<strong><u>Desenvolvimento Agil</u></strong>: Scrum & XP, Kanban e TDD.
				   </li>
				   <li>
					<strong><u>Administração de base de dados</u></strong>: Mysql e Oracle.
				   </li>
				   <li>
						
				   </li>
			   </ul>
		
			   <p>Estudante Finalista na Universidade Lurio, apaixonado por programação, web, tecnologias, filmes(em particular Desenhos animados)</p>
				<h6> Liga-me:> </h6>
				<ul>
					<li>
						+258845440628
					</li>
					<li>
						guerzeneldo@gmail.com
					</li>
				</ul>
		</div>
		</footer>
	
<% include ../footer %>
