<% include ../header%>	
	
	<div class="content">
		<img src="/images/cpmoz2.png" class="img-home">
		
	</div>
	<hr>
	<div class="uls">
		<div class="ul1">
			<ul class="ul">
				<li>
					<span class="text-span"> Interligando Programadores </span>
				</li>
				<li>
					<span class="text-span"> Comunicando com Programadores </span>
				</li>
				<li>
					<span class="text-span"> Compartilhando com Programadores </span>
				</li>
			</ul>
		</div>

		<div class="ul2">
			<ul class="ul">
				<li>
					<span class="text-span"> Sem Fins Lucrativos </span>
				</li>
				<li>
					<span class="text-span"> Disponibilizar Perfis & Skills </span>
				</li>
				<li>
					<span class="text-span"> Valorizando Os Programadores </span>
				</li>
			</ul>
		</div>
	</div>
<% include ../footer %>
